In [67]:
import pandas as pd
import requests

In [68]:
APIKEY = None
with open('apikey.txt', 'r') as _apikey:
    APIKEY = _apikey.read()
    _apikey.close()

https://www.alphavantage.co/documentation/

Example: 

https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=FOREX:EUR&time_from=20220310T0130&time_to=20220410T0130&limit=100&apikey=

https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=FOREX:EUR&time_from=20220310T0130&time_to=20220510T0130&topics=finacail_market,earnings&limit=10&apikey=

In [69]:
API_URL_PRICE_DAILY = f"https://www.alphavantage.co/query?function=FX_DAILY&from_symbol=EUR&to_symbol=USD&outputsize=full&apikey={APIKEY}"

In [73]:
with requests.Session() as s:
    download = s.get(API_URL_PRICE_DAILY)
    df_price = pd.DataFrame(download.json()['Time Series FX (Daily)']).T
    df_price.columns = [i.split()[1] for i in df_price.columns.values]
    df_price.sort_index(inplace=True)
df_price.to_csv(f"data/APLHAVANTAGE_EURUSD.csv")
df_price

               open     high      low    close
2004-02-06  1.25390  1.27240  1.25390  1.27040
2004-02-09  1.26760  1.27610  1.26150  1.26960
2004-02-10  1.26830  1.27880  1.26630  1.26800
2004-02-11  1.27030  1.28340  1.26460  1.28250
2004-02-12  1.28100  1.28460  1.27830  1.28030
...             ...      ...      ...      ...
2023-03-31  1.09042  1.09257  1.08350  1.08381
2023-04-03  1.08418  1.09166  1.07870  1.09006
2023-04-04  1.09011  1.09733  1.08810  1.09540
2023-04-05  1.09549  1.09696  1.08900  1.09057
2023-04-06  1.09048  1.09173  1.08830  1.09020

[5000 rows x 4 columns]

In [81]:
dates = df_price.index.values
dates_for_news = [i.replace('-','')+'T2350' for i in dates]

In [ ]:
API_URL_NEWS = f"https://www.alphavantage.co/query?function=NEWS_SENTIMENT&tickers=FOREX:EUR&time_from=20220310T0130&time_to=20220410T0130&apikey={APIKEY}"