In [1]:
import pandas as pd
import requests
from datetime import datetime, date
import os

In [2]:
APIKEY = None
with open('apikey.txt', 'r') as _apikey:
    APIKEY = _apikey.read()
    _apikey.close()

In [3]:
API_URL_PRICE_DAILY = f"https://www.alphavantage.co/query?function=FX_DAILY&from_symbol=EUR&to_symbol=USD&outputsize=full&apikey={APIKEY}"

with requests.Session() as s:
    download = s.get(API_URL_PRICE_DAILY)
    df_price = pd.DataFrame(download.json()['Time Series FX (Daily)']).T
    df_price.columns = [i.split()[1] for i in df_price.columns.values]
    df_price.sort_index(inplace=True)
    
df_price.to_csv(f"data/APLHAVANTAGE_AAPL.csv")
df_price.reset_index(names='date', inplace=True)
df_price['date'] = pd.to_datetime(df_price['date'], format="%Y-%m-%d")

In [4]:
start_date = pd.Timestamp(year=2020, month=1, day=1)
end_date = pd.Timestamp(year=2020, month=12, day=31)

In [5]:
df_one_year = df_price[((df_price['date'] >= start_date) & (df_price['date'] <= end_date))].reset_index(drop=True)
df_one_year

          date     open     high      low    close
0   2020-01-01  1.12123  1.12214  1.12080  1.12145
1   2020-01-02  1.12145  1.12245  1.11620  1.11713
2   2020-01-03  1.11713  1.11800  1.11230  1.11598
3   2020-01-06  1.11596  1.12055  1.11550  1.11955
4   2020-01-07  1.11956  1.11976  1.11320  1.11477
..         ...      ...      ...      ...      ...
257 2020-12-25  1.21836  1.22050  1.21610  1.21832
258 2020-12-28  1.21832  1.22504  1.21794  1.22160
259 2020-12-29  1.22140  1.22753  1.22057  1.22475
260 2020-12-30  1.22476  1.23101  1.22435  1.22960
261 2020-12-31  1.22949  1.23093  1.22070  1.22138

[262 rows x 5 columns]

In [6]:
dates = df_one_year.date.values
dates_for_news = [str(i).replace('-','')[:9] + '0000' for i in dates]

In [7]:
#https://api.worldnewsapi.com/search-news?api-key=8f3cfceb2aec40b78a9731c4c69bdd0f&text=aapl?latest-publish-date=2020-01-01

In [8]:
APIKEY_NEWS = None
with open('apikey_news.txt', 'r') as _apikey:
    APIKEY_NEWS = _apikey.read()
    _apikey.close()

In [9]:
start = start_date.date().isoformat()
end = end_date.date().isoformat()

In [84]:

#&language=en&earliest-publish-date=2020-01-01&latest-publish-date=2020-02-01$text=aapl
API_URL_NEWS = f"https://api.worldnewsapi.com/search-news?api-key={APIKEY_NEWS}&text=aapl&latest-publish-date=2020-01-01"

In [85]:
def parse_news_data(_urlNews: str):
    with requests.Session() as s:
        download = s.get(_urlNews)
        df_news = pd.json_normalize(download.json()['news'])
    return df_news

In [86]:
df = parse_news_data(API_URL_NEWS)
df

,id,title,text,url,image,publish_date,author,language,source_country,sentiment
0,60404,INTERNET: Grindr Case Bodes Poorly for China T...,Bottom line: The US decision to force a sale o...,http://www.youngchinabiz.com/en/internet-grind...,https://media.gettyimages.com/photos/stop-hand...,2019-05-23 09:58:40,newsdoug,en,cn,0.163

In [111]:
df.to_csv('data/news.csv')

In [93]:
df_one_year.date

0     2020-01-01
1     2020-01-02
2     2020-01-03
3     2020-01-06
4     2020-01-07
         ...
257   2020-12-25
258   2020-12-28
259   2020-12-29
260   2020-12-30
261   2020-12-31
Name: date, Length: 262, dtype: datetime64[ns]

In [114]:
dates_for_news = ['2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
                  '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01', 
                  '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01', '2021-01-01']

pare_dates = [i for i in zip(dates_for_news[:-1], dates_for_news[1:])]

for i, dt in enumerate(pare_dates):
    s = dt[0]
    e = dt[1]
    API_URL_NEWS = f"https://api.worldnewsapi.com/search-news?api-key={APIKEY_NEWS}&language=en&earliest-publish-date={s}&latest-publish-date={e}$number=50$text=aapl"
    
    df = parse_news_data(API_URL_NEWS)
    df.to_csv(f'data/news_{i}')

In [138]:
df1 = pd.read_csv('data/news_0').iloc[:,1:].sort_values('publish_date').reset_index(drop=True)
df1 = df1[['title', 'text', 'url', 'publish_date']]

In [139]:
df2 = pd.read_csv('data/news_1').iloc[:,1:].sort_values('publish_date').reset_index(drop=True)
df2 = df2[['title', 'text', 'url', 'publish_date']]

In [141]:
df_all_news = pd.concat([df1, df2], ignore_index=True)

In [149]:
df_all_news = None

for i in range(12):
    path = f"data/news_{i}"
    
    df = pd.read_csv(path).iloc[:,1:].sort_values('publish_date').reset_index(drop=True)
    df = df[['title', 'text', 'url', 'publish_date']]
    
    if i == 0:
        df_all_news = df.copy()
    else:
        df_all_news = pd.concat([df_all_news, df], ignore_index=True)

df_all_news

,title,text,url,publish_date
0,Making History With the Ethiopian Diaspora Tru...,Originally published at AlMariam.com WISHING A...,http://cyberethiopia.com/2013/?p=2161,2020-01-02 09:55:40
1,Tourism in Spain: Spaniards’ new travel trends...,Spaniards traveled less in the summer of 2019 ...,https://english.elpais.com/elpais/2019/12/30/i...,2020-01-02 10:31:00
2,New draft GB 7718 – main changes – The CHINA F...,2019 ended with a “roar” from the food regulat...,https://chinafoodlaw.blog/2020/01/03/new-draft...,2020-01-03 05:28:40
3,"Amelga, LLC announces letter released by Ermya...",FOR IMMEDIATE RELEASE Contact AmelgaLLC@gmail....,http://cyberethiopia.com/2013/?p=2165,2020-01-05 16:41:22
4,Spanish airports: Airport authority plans €1.5...,The Spanish airport authority Aena is planning...,https://english.elpais.com/elpais/2020/01/03/i...,2020-01-07 07:54:47
...,...,...,...,...
112,Arts Council invests €7 million in 530 artists...,More than 530 artists across 27 counties and o...,https://www.artscouncil.ie/News/Arts-Council-i...,2020-12-08 00:00:00
113,Arts Council research: more people ready to go...,More people in Ireland are ready to go to thea...,https://www.artscouncil.ie/News/Arts-Council-r...,2020-12-11 00:00:00
114,Nollaig Casey appointed Traditional Artist in ...,"The Arts Council, in association with, The Col...",https://www.artscouncil.ie/News/Nollaig-Casey-...,2020-12-11 00:00:00
115,Trending on (Addis) Fortune – (Addis) Fortune ...,Ethio Telecom Claims Regional Operations in Me...,https://addisfortune.news/web-stories/trending...,2020-12-11 11:57:16
116,Conflicts in Ethiopia Exacerbate Food Security...,Conflicts Exacerbate Food Security Threat Over...,https://addisfortune.news/web-stories/conflict...,2020-12-11 12:53:41

In [157]:
df_all_news.sort_values('publish_date', ignore_index=True, inplace=True)
df_all_news.to_csv('data/news_total.csv')

In [37]:
def remove_commas(string):
   trans_table = {ord(',') : None, ord(':') : None, ord('.') : None, ord('!') : None,
                  ord('–') : None, ord("'") : None, ord('"') : None, ord('€') : None,
                  ord('£') : None, ord(';') : None, ord('‘') : None, ord('’') : None,
                  ord('(') : None, ord(')') : None, ord('«') : None, ord('[') : None,
                  ord(']') : None, ord('?') : None, ord('+') : None, ord('-') : None,
                  ord('=') : None, ord('_') : None, ord('&') : None, ord('ó') : None}
   
   return string.translate(trans_table)

In [182]:
for i in range(len(df_all_news)):
    news = df_all_news.iloc[i]
    text = news.text
    title = news.title
    date = news.publish_date
    
    f = open(f'data/news_text/{remove_commas(date)}_{remove_commas(title)}', 'w')
    f.write(f'date: {str(date)}\ntitle: {remove_commas(title)}\n{remove_commas(text)}')
    #f.write(remove_commas(text))
    f.close()

UnicodeEncodeError: 'charmap' codec can't encode characters in position 34-39: character maps to <undefined>

In [11]:
for i in range(5):
    f = open(f'text_{i}', 'w')
    f.write(f'test_{i}')
    f.close()

In [12]:
import re

test = 'How!@#$%^&*()_+-= 1231:"}"}:><? to do this '

re.sub(r'\W', '', test)

'How_1231todothis'

In [48]:
df_news = pd.read_csv('data/news_total.csv').iloc[:,1:]
df_news

,title,text,url,publish_date
0,Making History With the Ethiopian Diaspora Tru...,Originally published at AlMariam.com WISHING A...,http://cyberethiopia.com/2013/?p=2161,2020-01-02 09:55:40
1,Tourism in Spain: Spaniards’ new travel trends...,Spaniards traveled less in the summer of 2019 ...,https://english.elpais.com/elpais/2019/12/30/i...,2020-01-02 10:31:00
2,New draft GB 7718 – main changes – The CHINA F...,2019 ended with a “roar” from the food regulat...,https://chinafoodlaw.blog/2020/01/03/new-draft...,2020-01-03 05:28:40
3,"Amelga, LLC announces letter released by Ermya...",FOR IMMEDIATE RELEASE Contact AmelgaLLC@gmail....,http://cyberethiopia.com/2013/?p=2165,2020-01-05 16:41:22
4,Spanish airports: Airport authority plans €1.5...,The Spanish airport authority Aena is planning...,https://english.elpais.com/elpais/2020/01/03/i...,2020-01-07 07:54:47
...,...,...,...,...
112,Arts Council invests €7 million in 530 artists...,More than 530 artists across 27 counties and o...,https://www.artscouncil.ie/News/Arts-Council-i...,2020-12-08 00:00:00
113,Arts Council research: more people ready to go...,More people in Ireland are ready to go to thea...,https://www.artscouncil.ie/News/Arts-Council-r...,2020-12-11 00:00:00
114,Nollaig Casey appointed Traditional Artist in ...,"The Arts Council, in association with, The Col...",https://www.artscouncil.ie/News/Nollaig-Casey-...,2020-12-11 00:00:00
115,Trending on (Addis) Fortune – (Addis) Fortune ...,Ethio Telecom Claims Regional Operations in Me...,https://addisfortune.news/web-stories/trending...,2020-12-11 11:57:16
116,Conflicts in Ethiopia Exacerbate Food Security...,Conflicts Exacerbate Food Security Threat Over...,https://addisfortune.news/web-stories/conflict...,2020-12-11 12:53:41

In [49]:
df_news.iloc[0]

title           Making History With the Ethiopian Diaspora Tru...
text            Originally published at AlMariam.com WISHING A...
url                         http://cyberethiopia.com/2013/?p=2161
publish_date                                  2020-01-02 09:55:40
Name: 0, dtype: object

In [50]:
df_news.publish_date = df_news.publish_date.apply(lambda x: remove_commas(x))
df_news.title = df_news.title.apply(lambda x: remove_commas(x))
df_news.text = df_news.text.apply(lambda x: remove_commas(x))

In [62]:
for i in range(df_news.shape[0]):
    news = df_news.iloc[i]
    text = news.text
    title = news.title
    date = news.publish_date
    
    print(f'{i}\n{date}\n{title}\n{text}')
    
    f = open(f'data/news_text/{date}_{title[:25]}', 'w')
    f.write(f'date: {date}\ntitle: {title}\n{text}')
    f.close()

0
20200102 095540
Making History With the Ethiopian Diaspora Trust Fund 22 Projects Shortlisted for Funding  CyberEthiopiacom
Originally published at AlMariamcom WISHING ALL IN THE EDTF FAMILY FRIENDS OF EDTF AND ALL OTHERS A HAPPY NEW YEAR The Ethiopian Diaspora Trust Fund EDTF Board of Directors BoD and Advisory Council AC are proud to announce the selection of 22 projects for funding pending capacity and budgetary reviews EDTF was launched in August 2018 when HE Prime Minster Dr Abiy Ahmed made a call to the global Ethiopian diaspora community to donate $1 a day to support critical projects in Ethiopia By October 2018 the AC working around the clock was able to incorporate EDTF successfully navigate federal regulatory requirements make arrangement with banks and global payment processors and launch a robust website By December 2018 EDTF had laid out and implemented the supporting infrastructure for EDTF by recruiting dozens of volunteers and establishing global chapters By March 2019 EDTF established a Secretariat in Ethiopia to begin preparatory work for project implementation By May 2019 we had set up a stellar Board of Directors for EDTF in Ethiopia and fully registered EDTF under the Ethiopian societies and charities law By July 2019 EDTF issued its first request for proposals with a midSeptember submission deadline Hundreds of proposals were submitted from all corners of Ethiopia In August 2019 EDTF received tax exemption in the US and became a 501 c 3 organization Tax ID 832100439 In September EDTF received hundreds of submissions in response to its first call for project proposals By October 2018 exactly one year to the month EDTF had collected donations over $5M USD In December 2019 22 projects were shortlisted by our dozens of panels of experts and presented to the BoD by the Secretariat for consideration and approval EDTF commits 100 percent of all donations to project implementation No donations are sued for adminsitartive or other purposes EDTF is 100 percent supported by volunteers Only the Secretariat is paid with support from the United Nations Development Programme EDTF is 100 percent inclusive of all Ethiopians and friends of Ethiopia willing to donate $1 a day EDTF conducts its business with maximum transparency and accountability EDTF prides itself in being an open book to its donors and anyone interested All EDTF donors are listed on our website unless they request anonymity We make weekly reports of donations received and once projects are implemented we will provide up to date financial reports Million thanks to… As Chair of the EDTF I thank the 25700 Ethiopian diaspora donors from 93 countries who contributed $1 a day to help the EDTF effort They have proven the power of one $1 a day I thank our volunteers including those who have provided EDTF technical support in a variety of areas Our EDTF volunteers have given their time money knowledge and resources freely because they believe in the EDTF cause They are truly the backbone of EDTF I thank the members of our global chapters now numbering 43 Our chapter members are the driving engines of our local engagement campaigns I thank the United Nations Development Fund UNDP for their generous support in establishing our EDTF Secretariat We deeply appreciate UNDPs confidence in our objectives and capacity to deliver on our promises We thank our many sponsors who have given generously to EDTF during our first annual fundraising event I thank the members of the EDTF Advisory Council It is a privilege and an honor to work with so many professionals who made significant financial and technical contributions and dedicated their Sundays to EDTF for a better part of a year Last but not least I would like to thank HE Prime Minister Abiy Ahmed for delivering Ethiopias Call for Help to Diaspora Ethiopians Good leaders share a vision and inspire others to help them turn their vision into reality First Round of EDTF Projects Full official Press Release available HERE The 22 shortlisted projects in no particular order are Korah Great Hope Charity Organization KGHCO on Water and Sanitation Hygiene promotion at Woreda 01 of Kolfe Keraniyo SubCity Hiwot Integrated Development Organization HIDO on Education Early Childhood Care and Education ECCE Services for Orphans and Vulnerable Children OVC Organization for Women in Self Employment WISE on Women Employment Enhancing the employability and competitiveness of underprivileged young and adult women in Addis Ababa Federation of Ethiopian National Associations of Persons with Disabilities  FENAPD on Women  Youth  Rehabilitation Improving the livelihood of women and youth with disability Addis Ababa Oromia SNNPR Amhara and Tigray Beza Posterity Development Organization on Child Protection Collaborative and Indigenous Action to Prevent Child Marriage and FGM CIAPCm in AfarRegion Pro Development Network on Water Sanitation and Hygiene Promotion of Safe Water Supply Hygiene and Sanitation for Hard to Reach Communities Using renewable energy in Afar and Tigray Region Organization for Rehabilitation and Development in Amhara ORDA on Water and Sanitation Yilmana Densa WASH Project Help for Persons with DisabilitiesOrganization HPDO on Education Build the fulfilling capacity of special needs education units in selected primary schools for the provision of specialized services for neglected children with disabilities to be effectively and meaningfully integrated with regular school system Network of Charitable Association of HIV Positive for Health and Development NAPHAD on Sanitation Come on Clean COC Action Against Open Defecation and Waste Dumping Ethiopian Red Cross Society on Water and Sanitation for Internally Displaced People Integrated WASH and Livelihood Recovery Project for Conflict Displaced Population in Central Gondar Zone Shayashone Trading PLC on Food Income and Nutrition Security / Youth Employment Promoting Hermetic Storage Technologies PICS Bags for Household foodincome Nutrition Security and Job Opportunity for youth in Amhara SNNPR and Oromia regions BoroShinasha Development Association BoroSDA on Agriculture Youthful Agribusiness Development Project in Benishangul Gumuz Region in Benishangul Gumuz Region Dire Dawa Agriculture Water Mine and Energy Bureau on Irrigation and Water Supply Hasenliso irrigation development and potable water supply project Mathiwos Wondu  YeEthiopia Cancer Society on Health Cervical Cancer Strengthening access for Cervical Cancer Screening in Gambella Afar BenishangulGumuz Regions of Ethiopia in Gambella Afar Benshangule Gumuz Haramaya University on Solid Waste Management/Income Generation WastetoWealth Ecofriendly Approaches for Sustainable Solid Waste Management in Harar City Ethiopia in Harar Siiqqee Womens Development Association SWDA on AgriBusiness Development for Internally Displaced People Reestablishment of livelihoods for Internal Displaced people in Oromia Regional State Oromia Regional State Oromo Self Reliance Association OSRA on Health and Education Clean water supply improved sanitation facilities and hygiene promotion for ruralcommunities and schools located in four woredas of Oromia Region Bole Bible Baptist church Child Care and Community Development BBBC on Education Enlightenment Through Education ETE Project in Oromia Gurmuu Development Association Gurmuu on Education Enhancing educational provision in four primary schools through improving children learning environment in Oromia Regional State Hadiya Development Association HAD on Education Daneto Secondary School Upgrading Project Soro Woreda Hadiya Zone SNNPRS Tigrai Development Association TDA on Education Help the Child for Lifelong Learning HCLL Project Association Develop Horn ADHorn  Rehabilitation of Disabled People Empowering the Differently Able and Work Towards the Hidden Reality II Support peoples with hearing impairmentdeaf and autistic children in Jijiga city administration Ethiopia Somali Regional State PLEASE DONATE AT https//wwwethiopiatrustfundorg/ For further information please contact Mrs Hanna Atnafu Makonnen Communication Specialist Ethiopian Diaspora Trust Fund Secretariat hannaa@ethiopiatrustfundorg
1
20200102 103100
Tourism in Spain Spaniards new travel trends more trips abroad fewer at home
Spaniards traveled less in the summer of 2019 than they did the previous year with a significant drop in domestic tourism that a rise in foreign trips failed to balance out Thats according to the Familitur survey carried out by Spains National Statistics Office INE which focused on the third quarter of 2019 Despite this reduced travel spending rose by 19% with almost 193 billion spent overall According to the data Spaniards undertook 6111 million trips in the third quarter of the year which includes summer vacations This is 54% down compared to the same period of 2018 According to the findings the drop is exclusively due to the fall in domestic travel with 5384 million trips taken within the country  64% less than in 2018 Andalusia was the favored domestic destination accounting for 18% of the total number of trips Meanwhile trips abroad increased by 32% to 727 million Taking the entire year into account the same pattern emerges trips undertaken by Spaniards fell overall by 17% due to the 26% fall in domestic travel which the 7% rise in trips abroad failed to make up for Although Spaniards traveled less they spent longer stretches of time in domestic destinations between July and September with an average of 58 nights 59% longer than in the same period in 2018 On the other hand while there was more foreign travel the length of stay was 87% shorter with an average of 93 nights Fewer trips to Catalonia Andalusia was the favored domestic destination accounting for 18% of the total number of trips 1098 million which is 2% less than 2018 This was followed by the Valencia region with 123% of the total 751 million which is 069% more than in 2018 And the third destination was Catalonia which accounted for 117% indicating that the region has lost more than a million Spanish holidaymakers compared to 2018 when it accounted for 827 million trips as opposed to 714 million in 2019 a drop of 137% The money spent by domestic tourists in Catalonia fell by 36% to 15 billion Cantabria was the region that accounted for most domestic tourism with respect to the size of its own population with 2559 trips made for every 1000 of its own inhabitants It was followed by Castilla y León with 2087 trips and Asturias with 1611 for every 1000 inhabitants Meanwhile Madrileños took the most trips with 1860 for every 1000 inhabitants followed by residents of Aragón 1559 and the Basque Country 1363 The money spent by Spaniards on domestic tourism rose more than what they spent abroad with an increase of 21% for a total of 127 billion on domestic travel and a rise of 14% 65 billion abroad Spaniards traveling within Spain spent an average of 237 per trip the equivalent of 41 per day Meanwhile Spaniards traveling abroad spent an average of 97 a day averaging 898 per trip English version by Heather Galloway

UnicodeEncodeError: 'charmap' codec can't encode character '\xf3' in position 2304: character maps to <undefined>

In [65]:
f'date: {df_news.iloc[1].publish_date}\ntitle: {df_news.iloc[1].title}\n{df_news.iloc[1].text}'[2300:2310]

'León with '